<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" sizes="16x16" href="{{image:icon}}">
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.1.4/dist/tailwind.min.css" integrity="sha256-hfMZAfOTaHPZSp5rYtEM+pqIhJ3zKdooXUrO59bFmRE=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The "{{config:title}}" page on {{config:sitename}}">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.js" integrity="sha256-9R44V6iCmVV7oDivSSvnPm4oYYirH6gC7ft09IS4j+o=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <meta name="theme-color" content="#111827">
        <title>{{page:title}} - {{config:sitename}}</title>
    </head>
    <body class="{{colour:bg}} {{colour:text}}">
        <div class="z-20">
            {{section:navigation}}
        </div>
        <div>
            <div class="relative z-10 pb-8">
                <div class="bg-gray-800 px-4 md:px-24 lg:px-8 py-20">
                    <div class="relative max-w-2xl sm:mx-auto sm:max-w-xl md:max-w-2xl sm:text-center self-center">
                        <img src="{{image:logo}}?v={{data:random:integer}}" alt="GeolHistory" class="self-center my-8">
                    </div>
                </div>
            </div>
            <div class="relative">
                <h1 class="text-5xl md:text-7xl mb-8 text-center">{{page:title}}</h1>
            </div>
            <div class="flex space-x-8 mx-4 sm:px-6 lg:px-8 mb-8">
                <div class="w-2/3 flex-grow text-justify">
                    {{page:content}}
                </div>
            </div>
        </div>
        {{section:footer}}
    </body>
</html>