<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" sizes="16x16" href="<?php echo CONFIG_INSTALL_URL; ?>/assets/panel/images/icon.png">
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.1.4/dist/tailwind.min.css" integrity="sha256-hfMZAfOTaHPZSp5rYtEM+pqIhJ3zKdooXUrO59bFmRE=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.js" integrity="sha256-9R44V6iCmVV7oDivSSvnPm4oYYirH6gC7ft09IS4j+o=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <meta name="theme-color" content="#111827">
        <title>{{page:title}} - {{config:sitename}}</title>
    </head>
    <body class="{{colour:bg}} {{colour:text}}">
        {{section:navigation}}
                <div class="flex mt-20">
                    <div class="max-w-7xl mx-4 pb-6 lg:pt-6 sm:px-6 lg:px-8">
                        <div class="flex">
                            <div class="flex-grow z-10">
                                <div class="flex">
                                    <div class="w-3/4 flex-grow text-justify">
                                        <h1 class="text-5xl">{{page:title}}</h1>
                                        {{page:content}}<br>
                                        <br>
                                        Page by {{page:author:name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {{section:footer}}
    </body>
</html>